body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f5f5f5;  
}

.container {
    width: 300px;
    padding: 20px;
    background-color: #fff;  
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    color: #333; 
}

h2 {
    margin-bottom: 20px;
    color: #333;  
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    text-align: left;
    color: #555;  
}

input[type="text"],
input[type="password"],
input[type="email"] {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: calc(100% - 22px);  
    box-sizing: border-box;
    color: #555;  
}

input[type="submit"],
input[type="reset"] {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: calc(100% - 22px);  
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: orange; 
    color: white;
}

input[type="reset"] {
    background-color: #f44336;
    color: white;
}

.error {
    color: red;
    font-weight: bold;
    margin-bottom: 15px;
}

#error {
    color: red;
    font-weight: bold;
}

#login {
    margin-top: 15px;
}

#login a {
    text-decoration: none;
    color: #4CAF50;
    font-weight: bold;
}

#login a:hover {
    text-decoration: underline;
}
  

.success-message {
    background-color: #4CAF50;  
    color: white;  
    padding: 10px;  
    border-radius: 5px; 
    margin-bottom: 10px; 
}

 
